<a href="https://colab.research.google.com/github/jdre1/Machine-Learning-Bootcamp/blob/main/supervised/01_basic/missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Import of libraries

In [41]:
import pandas as pd
import numpy as np
import sklearn
import os
import seaborn as sns
import matplotlib.pyplot as plt

##### Creating of DataFrame

In [42]:
data = {
    'size': ['XL', 'L', 'M', np.nan, 'M', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red', 'green'],
    'gender': ['female', 'male', np.nan, 'female', 'female', 'male'],
    'price': [199.0, 89.0, np.nan, 129.0, 79.0, 89.0],
    'weight': [500, 450, 300, np.nan, 410, np.nan],
    'bought': ['yes', 'no', 'yes', 'no', 'yes', 'no']
}
df_raw = pd.DataFrame(data=data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue     NaN    NaN   300.0    yes
3  NaN  green  female  129.0     NaN     no
4    M    red  female   79.0   410.0    yes
5    M  green    male   89.0     NaN     no

In [43]:
df_raw.info()

for col in ['size','color','gender','bought']:
    df_raw[col] = df_raw[col].astype('category')
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   6 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  4 non-null      float64
 5   bought  6 non-null      object
dtypes: float64(2), object(4)
memory usage: 416.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   6 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  4 non-null      float64
 5   bought  6 non-null      category
dtypes: category(4), float64(2)
memory usage: 760.0 bytes

In [44]:
pd.isnull(df_raw).sum()

size      1
color     0
gender    1
price     1
weight    2
bought    0
dtype: int64

In [45]:
round((pd.isnull(df_raw).sum()/len(df_raw))*100, 3)

size      16.667
color      0.000
gender    16.667
price     16.667
weight    33.333
bought     0.000
dtype: float64

In [47]:
for col in df_raw:
    print('The percentage of NaN in Data Frame in column {} is {}'
    .format(col, 
            round((pd.isnull(df_raw[col]).sum()/len(df_raw[col]))*100, 3)))

The percentage of NaN in Data Frame in column size is 16.667
The percentage of NaN in Data Frame in column color is 0.0
The percentage of NaN in Data Frame in column gender is 16.667
The percentage of NaN in Data Frame in column price is 16.667
The percentage of NaN in Data Frame in column weight is 33.333
The percentage of NaN in Data Frame in column bought is 0.0